.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #f2f2f2;
    color:#222222;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color:#222222;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #222222;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #222222;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;

}

.githubLogo {
    height: 20px;
    fill:#222222;
}

.navButton {
  background-color: rgba(36,189,177,255); 
  color: black; 
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.navButton:hover {
  background-color: darkslategray; 
}

.footer {
    position: relative;
    text-align: right;
    padding: 10px;
}

.footerButton {
    background-color: rgba(36,189,177,255);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 45px;
    right: 20px;
}

.footerButton:hover {
    background-color: darkslategray;
}


@media (max-width: 1240px) {
    .footerButton {
        position: relative;
        bottom: 10px;
        margin-top: 10px;
        right: 15px;
    }
}